/* Navbar */
.custom-navbar[b-ouum17iy1j] {
    background-color: lightblue;
    padding: 10px;
}

.navbar-container[b-ouum17iy1j] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand[b-ouum17iy1j] {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.navbar-toggler[b-ouum17iy1j] {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.navbar-toggler-icon[b-ouum17iy1j] {
    width: 30px;
    height: 30px;
    background-color: transparent;
}

/* Navigation Menu */
.custom-nav[b-ouum17iy1j] {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

.nav-items[b-ouum17iy1j] {
    list-style: none;
    padding: 0;
}

.nav-item[b-ouum17iy1j] {
    padding: 10px;
}

.nav-link[b-ouum17iy1j] {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link:hover[b-ouum17iy1j] {
    background-color: #555;
    border-radius: 4px;
}

/* Collapse menu */
.collapse[b-ouum17iy1j] {
    display: none;
}


@media (min-width: 641px) {
    .navbar-toggler[b-ouum17iy1j] {
        display: none;
    }

    .custom-nav[b-ouum17iy1j] {
        display: flex;
        flex-direction: row;
    }

    .collapse[b-ouum17iy1j] {
        display: flex;
    }

    @media (max-width: 640px) {

        .navbar-toggler[b-ouum17iy1j] {
            display: block;
        }

        .custom-nav[b-ouum17iy1j] {
            display: none; /* Döljer navigeringen på små skärmar */
            flex-direction: column;
        }

        /* Visar menyn när hamburgermenyn trycks */
        .collapse.show[b-ouum17iy1j] {
            display: block;
        }
    }


}