<div class="custom-navbar">
    <div class="navbar-container">
        <a class="navbar-brand" href="">DT191G</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <img src="bars-solid.svg" class="navbar-toggler-icon">
        </button>
    </div>
</div>

<div class="@NavMenuCssClass custom-nav" @onclick="ToggleNavMenu">
    <nav class="nav-items">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="icon-home" aria-hidden="true"></span> Hem
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="json">
                <span class="icon-json" aria-hidden="true"></span> JSON
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="konvertering">
                <span class="icon-conversion" aria-hidden="true"></span> Konvertering
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
