body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #444;
    text-align: center;
}

h3{
    color: #444;
}

button {
    background-color: #0078D7;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #005A9E;
}
