@page "/konvertering"
@rendermode InteractiveServer //Hanterar användargränssnitthändelser

<h3>Konvertering</h3>


//Konvertera meter till fot (feet) - matas exempelvis 2 in för antal meter, ska resultatet visa 6,6 fot (avrunda till två decimaler).
//Konvertera km/h till miles/hour - matas exempelvis 100 in för km/h, ska resultatet visa 62 miles/hour (avrunda till heltal).
@code {

}